
    <div class="btn-group chartGroup ">
       
          <button class="btn  btn-theme btn-lg chartBtn" [ngClass]="{'lineSelected': isLine}" (click)='getLine()'><i class="fa fa-line-chart"></i> Line Chart</button>
          <button class="btn  btn-theme btn-lg chartBtn" [ngClass]="{'barSelected': isDoughnut}" (click)='getDoughnut()'><i class="fa fa-pie-chart"></i> Doughnut Chart</button>
          <button class="btn  btn-theme btn-lg chartBtn" [ngClass]="{'barSelected': isbar}" (click)='getBar()'><i class="fa fa-bar-chart"></i> Bar Chart</button>
          
    </div>
<div class="clearfix"></div>
<div class="container">
  <div class="row">
    <div *ngIf="isbar" class="col-md-10 col-md-offset-1">
      <canvas baseChart
            [datasets]="ChartData"
            [labels]="ChartLabels"
            [options]="ChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
      
    </div>
    <div *ngIf="isLine" class="col-md-6 col-md-offset-3">
     
      <canvas baseChart width="400" height="400"
                [datasets]="ChartData"
                [labels]="ChartLabels"
                [options]="ChartOptions"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
     
    </div>
    <div *ngIf="isDoughnut" class="col-md-6 col-md-offset-3">
      <h2 align="center">Click on each year to display charts</h2>
      <ul align="center" class="list-inline yearsData">
        <li *ngFor="let elem of dataChart  | slice:1"><a (click)="getYearData(elem[0])">{{elem[0]}}</a></li>
      </ul>
      <canvas baseChart height="300"
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>

    </div>

  </div>
</div>
