button.chartBtn{
    margin-right: 30px;
}
div.chartGroup{
    margin-left: 14%;
}
.lineSelected{
    color:#5cb85c;
}
.barSelected{
    color:#5cb85c;
}

ul.yearsData {
    padding: 20px;
    font-size: medium;
}
ul.yearsData>li {
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    div.chartGroup{
    margin-left: 0%;
    }
    .chartBtn{
        margin-bottom: 10px;
        width:100%;
    }
}