
<nav class="navbar navbar-default">
    <div class="container-fluid">
       <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

           <a href="#" class="navbar-brand" style="color:darkblue"><img class="brand-log" src="assets/brand.png" alt="Bigmama"></a>
       </div>
        <div id="navbar" class="collapse  navbar-collapse " >
            <ul class="nav navbar-nav">
                <li><a class="menuElem" (click)="selectSection('importFile')"> IMPORT A NEW FILE </a></li>
                <li><a class="menuElem"> CALL AN API </a></li>
            </ul>

        </div>
    </div>
</nav>
