<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 bm-header">
            <h2 align="center">
              <i class="fa fa-pie-chart"></i> Waterborne commerce DATA VISUALIZATION
            </h2>
        </div>
    </div>
  
</div>
<app-header (selectAction)="setSection($event)"></app-header>
<div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <app-upload (csvContent)=getContent($event) *ngIf="!showVis"></app-upload>
      </div>
      <div class="col-md-12">
          <app-chart [dataChart]="preparedData" *ngIf="showVis"></app-chart>
      </div>

    </div>
</div>