<div class="col-md-6 col-md-offset-3 form-group-lg">
<label class="btn btn-info" for="my-file-selector" id="myFileInput">
   
    <input id="my-file-selector" class="input-lg full-width form-control" style="display:none;" #fileInput (change)="fileUpload()"  type="file" name="pic" accept=".csv">
    <img src="assets/csv.png" alt="">
</label>

<hr>
<p *ngIf="loading" align="center"><i class="fa fa-3x fa-spinner fa-spin" ></i> Loading...</p>
<div class="fileinfo" *ngIf="fileInput.value; else initMessage">
    <p class="bg-primary">{{infoMessage}}</p>
    
</div>
<ng-template #initMessage>
    <h3 align="center">Upload your Datasets</h3>
    <h4 align="center">CSV with , or ; separators</h4>
</ng-template>
<div *ngIf="success">
    <div class="alert alert-success" >
        <strong>{{endmessage}} !</strong>
    </div>
    
    <button type="button" class="btn btn-outlined btn-theme btn-lg" data-wow-delay="0.7s" (click)="vis()"><i class="fa fa-x3 fa-pie-chart fa-spin"></i> Visualize </button>
     
</div>

</div>
